<!DOCTYPE html>
<html>
  <head>
    <title>Infinotes</title>
    <%= csrf_meta_tags %>

    <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css">
    <link rel="stylesheet" href="//cdn.quilljs.com/1.2.6/quill.snow.css">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag 'favicon.ico' %>
    <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Martel:300,400,600" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bitter:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,300,500,600,700" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
